.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
  margin: 4rem 0;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.title {
  color: black;
  font-size: 45px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.text {
  color: black;
  font-size: 20px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  max-width: 700px;
}
.bottom {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 700px;
}

.bullet {
  width: 15px;
  margin-right: 10px;
}
.textMap {
  font-size: 18px;
  margin-right: 18px;
}
.iconList {
  width: 25px;
}
