@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  font-family: "Open Sans";
}

.heroContainer {
  height: 60vh;
  width: 100%;
  @media (max-width: 700px) {
    transform: translateY(70px);
  }
}
.heroImg {
  position: relative;
  width: 100%;
  height: 100%;
  // background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9)),
  //   url("/heroMap.png");
  background-image: url("/heroMap.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  bottom: 0;
  height: inherit;
  left: 0;
  position: absolute;
  right: 0;
  top: 50;
  width: inherit;
  z-index: 1;
}
.heroTextContainer {
  display: flex;
  padding: 0 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 4rem;
}
.title {
  color: #ffffff;
  font-size: 45px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  font-family: "Source Code Pro", monospace;
}
.title::before,
.title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.title::before {
  background-color: #e8c547;
  animation: typewriter 2s steps(13) forwards;
  //animation-iteration-count: 3;
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}
.titleBlack {
  font-size: 45px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  color: black;
  font-family: "Open Sans";
  @media (max-width: 700px) {
    font-size: 28px;
  }
}
.text {
  color: #ffffff;
  font-size: 25px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  @media (max-width: 700px) {
    font-size: 20px;
  }

  &Black {
    color: black;
    max-width: 700px;
  }
}
.optionsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  @media (max-width: 700px) {
    flex-direction: column;
  }
}
.crimeNear {
  position: relative;
  z-index: 2;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  background-color: #a80906;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  @media (max-width: 700px) {
    width: 340px;
    display: flex;
    justify-content: center;
  }
}
.o {
  position: relative;
  z-index: 2;
  color: #ffffff;
  font-size: 20px;
}
.registro {
  position: relative;
  z-index: 2;
  padding: 10px 20px;
  border: 2px solid #a80906;
  background-color: #ffffff;
  color: #a80906;
  border-radius: 5px;
  cursor: pointer;
  @media (max-width: 700px) {
    width: 340px;
    display: flex;
    justify-content: center;
  }
}
.misionContainer {
  display: flex;
  align-items: center;
  gap: 44px;
  justify-content: center;
  flex-direction: column;
  margin: 5rem 0;
  @media (max-width: 700px) {
    margin: 7rem 0 5rem;
  }
}
.inconsContainer {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
}
.icon {
  width: 60px;
  height: 60px;
  color: black;
  @media (max-width: 700px) {
    width: 40px;
    height: 40px;
  }
}
.plus {
  font-size: 35px;
}
.plus2 {
  font-size: 25px;
  margin: 0 5px;
  color: #a80906;
}
.space {
  height: 1rem;
}
.text2 {
  color: black;
  max-width: 700px;
  font-size: 22px;
  position: relative;
  z-index: 2;

  @media (max-width: 700px) {
    font-size: 20px;
    padding: 0 1rem;
  }
}
.underline {
  text-decoration: underline;
  text-decoration-color: #a80906;
  text-decoration-thickness: 3px;
}
