.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 34px;
  margin: 4rem 0;
  overflow: hidden;
}
.title {
  color: black;
  font-size: 45px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  @media (max-width: 700px) {
    font-size: 28px;
  }
}
.text {
  color: black;
  font-size: 20px;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  @media (max-width: 700px) {
    padding: 0 1rem;
    text-align: center;
  }
}
.imgShow {
  width: 300px;
  height: 269px;
  object-fit: cover;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
  @media (max-width: 700px) {
    flex-direction: column;
  }
}
.left {
  width: 350px;
  height: 300px;
  background-image: url("/mapShow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  cursor: pointer;
}
.right {
  width: 350px;
  height: 300px;
  background-image: url("/form.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  cursor: pointer;
}
.textMap {
  position: relative;
  z-index: 2;
  padding: 0 16px;
  font-size: 18px;
}
.right {
  width: 350px;
  height: 300px;
  border: 1px solid black;
  border-radius: 5px;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.65);
  bottom: 0;
  height: inherit;
  left: 0;
  position: absolute;
  right: 0;
  top: 50;
  width: inherit;
  z-index: 1;
}
.overlay:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.imgMap {
  position: relative;
  z-index: 2;
  width: 50px;
}
.lupa {
  width: 38px;
  height: 38px;
  transform: rotate(75deg);
  @media (max-width: 700px) {
    width: 28px;
    height: 28px;
  }
}
