@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
.container {
  position: relative;

  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #30323d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  @media (max-width: 700px) {
    position: absolute;
    padding: 0 1rem 0 0;
  }
}
.logo {
  height: 62px;
  width: 136px;
  cursor: pointer;
  // @media (max-width: 700px) {
  //   height: 35px;
  //   width: 200px;
  // }
}
.rightContainer {
  display: flex;
  align-items: center;
  gap: 3rem;
  @media (max-width: 900px) {
    gap: 2rem;
  }
}
.banner {
  width: 200px;
  height: 50px;
  background-color: #cdd1c4;
  background-color: #ffffff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  @media (max-width: 700px) {
    display: none;
  }
}
.bannerInside {
  overflow: hidden;
  position: absolute;
  width: 300%;
  top: 50%;
  left: 00%;
  transform: translate(0%, -50%);
  overflow: hidden;
  animation: slider 15s infinite;
}
.bannerText {
  font-family: "Inconsolata";
  font-weight: 700;
  color: red;
  position: relative;
  width: 33.33333333%;
  height: 100%;
  float: left;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
@keyframes slider {
  0%,
  25%,
  100% {
    left: 0;
  }

  30%,
  55% {
    left: -100%;
  }

  60%,
  85% {
    left: -200%;
  }
}
.formButton {
  width: 30px;
  height: 30px;
  cursor: pointer;
  //margin-right: 10px;
  @media (max-width: 700px) {
    width: 25px;
    height: 25px;
    display: none;
  }
}
.menu {
  display: none;
  @media (max-width: 700px) {
    display: flex;
    width: 35px;
    height: 35px;
  }
}
.modalContainer {
  display: none;
  @media (max-width: 700px) {
    width: 100%;
    height: 100vh;
    background-color: #1f2026;
    opacity: 0.99;
    position: fixed;
    display: flex;

    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 100000;
    transform: translateX(100%);
    transition: all 1s;
    &Open {
      transform: translateX(0);
      transition: all 1s;
    }
  }
}
.close {
  display: none;
  @media (max-width: 700px) {
    display: flex;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 2%;
    right: 2%;
  }
}
.mobileContainer {
  display: flex;
  justify-content: center;

  flex-direction: column;
  height: 30%;
  gap: 1rem;
}
.mobileLinks {
  color: white;
  font-size: 20px;
  margin-left: 2rem;
}
.loading {
  font-family: "Inconsolata";
  font-weight: 700;
  color: red;
  position: relative;
  width: 33.33333333%;
  height: 100%;
  float: left;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
