.container {
  width: 100%;
  //min-height: 210px;
  border: 0.5px solid #30323d;
  background-color: #ffffff;
  position: relative;
  padding: 2rem 0rem 2rem 0rem;
  display: flex;
  gap: 15px;
  @media (max-width: 700px) {
    padding: 1rem 0rem 1rem 0rem;
    //min-height: 200px;
  }
}
.text {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 80%;
}
.tipo {
  font-weight: 700;
  font-size: 20px;
}
.img {
  width: 35px;
  height: 35px;
  margin-left: 3rem;
  @media (max-width: 1075px) {
    margin-left: 1rem;
  }
}
.infoContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}
.locationContainer {
  gap: 8px;
  display: flex;
  flex-direction: column;
}
.extraInfo {
  display: flex;
  gap: 25px;
}
.commodity {
  width: 15px;
  height: 15px;
}
.bulletPoint {
  width: 15px;
  height: 15px;
}
.listadoArticulos {
  display: flex;
  gap: 5px;
  @media (max-width: 1000px) {
    gap: 2px;
    flex-direction: column;
  }
}
.articuloContainer {
  display: flex;
  align-items: center;
}
.dayImg {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 40px;
  height: 40px;
  @media (max-width: 1000px) {
    top: 3%;
    right: 3%;
  }
}
